<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header" id="top">
        <a href="/" class="page-header__logo">
            <img
                src="/assets/logo.svg"
                alt="Binyamin Green's logo"
                width="48"
                height="48"
            />
        </a>
        <nav class="menu-wrapper">
            <ul class="menu" id="menu">
                <li><a class="menu__link" href="/me">Me</a></li>
                <li><a class="menu__link" href="/c/blog">Articles</a></li>
                <li><a class="menu__link" href="/c/micro">Microblog</a></li>
                <li><a class="menu__link" href="/more">More Links</a></li>
            </ul>
        </nav>
    </header>

    <main class="{{main_class}}">
        {{ content }}
    </main>

    <footer class="page-footer h-card">
        <small>Copyright 2018-2021 <a href={{meta.baseUrl}} rel="me" class="u-url p-name u-uid page-footer__name">{{meta.author.name}}</a> | <a href="/contact">Contact Me</a></small>

        <!-- microsub -->
        <link rel="microsub" href="https://aperture.p3k.io/microsub/680">

        <!-- Indieauth -->

        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

        <link href="mailto:binyamingreen@protonmail.com" rel="me"/>
        <link href="https://github.com/binyamin" rel="me"/>
        <link href="https://mas.to/@binyamin" rel="me"/>
    </footer>
    {% include 'metrical.html' %}
</body>
</html>
