---
layout: default
pagination:
    data: categories
    size: 1
    alias: c
permalink: "/c/{{c.key}}/"
eleventyComputed:
    title: "{{c.title}}"
    desc: "{{c.meta.desc | default: c.desc | strip_html}}"
---

<div class="h-feed">
    <header class="posts-header">
        <h1 class="posts-title p-name">{{c.title}}</h1>
        <p class="posts-lead p-summary">{{c.desc}}</p>
        <p class="posts-details">
            <svg role="none" viewBox="0 0 24 24" class="icon">
                <use href="/assets/icons/icon-rss.svg#sprite"/>
            </svg>
            Subscribe via <a href="/feeds/{{c.key}}.xml">RSS</a> or <a href="/feeds/{{c.key}}.json">JSON</a> feed
        </p>
        <div hidden>
            <a href="{{- page.url -}}" class="u-url"></a>
            <address class="p-author">Binyamin Green</address>
        </div>
    </header>

    {% for post in collections[c.key] reversed %}
    <article class="post-item h-entry" aria-labelledby="post--{{post.data.title|slugify}}">
        <a href="{{post.url}}" class="u-url u-uid">
            <h2 class="post-item__title p-name" id="post--{{post.data.title|slugify}}">{{post.data.title}}</h2>
        </a>
        <p class="post-item__details">Posted on <time class="dt-published" datetime="{{post.date| _date: 'iso' }}">{{ post.date | date_est: false }}</time></p>
        <div class="post-item__desc p-summary">{{post.data.desc}}</div>
    </article>
    {% endfor %}
</div>